@{
    ViewData["Title"] = "Home Page";
}


@model BooksListViewModel

    <h1>Amazon Book Store</h1>

    @foreach (Book b in Model.Books)
    {
    <h2>@b.Title</h2>
     <ul>
        <li>Book Author: @b.Author</li>
        <li>Book Publisher: @b.Publisher</li>
        <li>Book ISBN: @b.Isbn</li>
        <li>Classification/Category: @b.Classification/@b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Book Price: @b.Price</li>
     </ul>   
    }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>

