@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<!--This page is where each book summary is looped through-->
<div class="card m-1 p-1">
    <h4>
        @Model.Title
        <span class="badge rounded-pill bg-primary text-white float-end">by @Model.Author</span>
    </h4>
    <ul>
        <li>Book Publisher: @Model.Publisher</li>
        <li>Book ISBN: @Model.Isbn</li>
        <li>Classification/Category: @Model.Classification/@Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <li>Book Price: @Model.Price</li>
    </ul>
</div>